// BASIC COLORS
// $primary: #0000FF;
$primary: #7777e0;
$secondary: #F7C100;
$nav-bg: #464694;
$gray: #E6E6E6;
$light-gray: #F5F5F5;
$medium-gray: #E0E0E0;
$medium-gray2: #dbdee0;
$dark-gray: #a4a4a4;
$gray-text: #6c757d;

$border-color: #CED4DA;

$placeholder: #ababab;
$placeholder-textarea: #555c63;
$text-disabled: #afafaf;
$form-bg: #E9ECEF;
$hover: #464694;

// SOCIAL COLORS
$facebook: #3B5A96;
$twitter: #4BB1E1;
$instagram: #D3216E;
$youtube: #D1262B;

// MISC
$apple-shadow: 0px 30px 30px -30px rgba(0, 0, 0, 0.15);