{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-mainbg fixed-top">
        <img class="navbar-brand navbar-logo" src="assets/img/gear.png" alt="logo" style="width:50px;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="far fa-address-book"></i>About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-clone"></i>Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-calendar-alt"></i>Latest Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-blog"></i></i>Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-copy"></i>Contact Us</a>
                </li>
            </ul>
        </div>
    </nav> #}
{% set hide_dash = 1 %}

{% extends "../MasterPages/master.html" %}

{%block content%}

<section class="hero">
    
    <div class="jumbotron text-center">
            <div class="row">
                <div class="tex col-12 col-md-12 col-lg-12">
                    <h1>ABOUT US</h1>
                    <p>HOME - ABOUT US</p>
                </div>
            </div>
        </div>
    </section>

    <section class="hello">
        <h3 class="text-center">HELLO WORLD</h3>
                <h1 class="text-center">DISCOVER OUR STORY</h1>
                <hr>

        <div class="row">
            <div class="col-12 col-md-5 col-lg-3 offset-lg-3 offset-md-1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae blanditiis ducimus et? Labore dolorem nobis dolore facere, et est cupiditate molestiae dicta? Dolorum facere vitae debitis aliquid quasi. Omnis, voluptates?</p>
                <button class="btn btn-primary bg-transparent" style="color: black;">READ MORE</button>

            </div>
            <div class="col-12 col-md-5 col-lg-3">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facilis rem impedit quis ut, neque aliquid sunt ipsam hic labore nesciunt esse consequuntur dolor, deserunt quae unde iste quos perspiciatis.</p>
            </div>
        </div>

    </section>

    <section class="about-us">
        <div class="row offset-2">
            <div class="col-12 col-md-6 col-lg-6">
                <h3>ABOUT US</h3>
                <h1>OUR PHILOSOPHY</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt et quasi at optio distinctio nam itaque aliquam voluptas dolorum, laborum ipsa quisquam voluptatem commodi perferendis. Sequi rerum fuga nulla enim!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore veniam dolorum eius voluptatum deleniti sapiente, expedita neque nostrum cupiditate ipsa aliquam provident quis voluptatibus facilis nisi molestias odio totam.</p>
                <button class="btn btn-primary bg-transparent">READ MORE</button>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <!-- <div class="ab"> -->
                    <img class="ab-img" src="assets/img/about.jpg" alt="">
                    <!-- </div> -->
            </div>
        </div>
    </section>

    <section class="team">
        <div class="tea col-12 col-md-12 col-lg-5 offset-lg-4 ">
        <h3>WE ARE EXPERT</h3>
        <h1>OUR TEAM</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis repudiandae voluptates, cupiditate culpa ut numquam reprehenderit illum tenetur reiciendis earum .</p>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/team1.jpg">
                            <ul class="social">
                                <li><a href="#" class="fab fa-facebook"></a></li>
                                <li><a href="#" class="fab fa-google-plus"></a></li>
                                <li><a href="#" class="fab fa-instagram"></a></li>
                                <li><a href="#" class="fab fa-linkedin"></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Williamson</h3>
                            <span class="post">CHIEF EXECUTIVE OFFICER</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/team2.jpg">
                            <ul class="social">
                                <li><a href="#" class="fab fa-facebook-f"></a></li>
                                <li><a href="#" class="fab fa-google-plus"></a></li>
                                <li><a href="#" class="fab fa-instagram"></a></li>
                                <li><a href="#" class="fab fa-linkedin"></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">OPERATIONS MANAGER</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/team3.jpg">
                            <ul class="social">
                                <li><a href="#" class="fab fa-facebook-f"></a></li>
                                <li><a href="#" class="fab fa-google-plus"></a></li>
                                <li><a href="#" class="fab fa-instagram"></a></li>
                                <li><a href="#" class="fab fa-linkedin"></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kristiana</h3>
                            <span class="post">CREATIVE DIRECTOR</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="choose text-center pb-4">
        <h3>HELLO WORLD</h3>
        <h1>WHY CHOOSE US</h1>
        <hr>
        <div class="row offset-1">
        <div class="col-12 col-md-5 col-lg-5 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugiat quo quos exercitationem inventore, ullam laudantium repellat, doloremque beatae ut voluptas nostrum corrupti nemo molestias modi qui cumque quaerat nesciunt?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptate, ipsa repellendus eum laborum vel sapiente beatae ea reprehenderit voluptatum nostrum facilis possimus ad dignissimos maiores, sunt velit obcaecati ipsam.</p>

        </div>
        <div class="col-12 col-md-4 col-lg-3 ">
            <ul>
                <li><a >Branding</a></li>
                <li><a >ADOBE PHOTOSHOP</a></li>
                <li><a >HTML</a></li>
                <li> <a >CSS</a></li>
                <li><a >WORDPRESS</a></li>
                <li><a >PHP</a></li>
                <li><a >JAVA</a></li> 
            </ul>
        </div>
        <div class="col-11 col-md-3 col-lg-4">
            <div class="ab">

            </div>
        </div>
    </div>
    </section>

    <section class="counting">

        
        <div class="layout">	
              <div class="grid-3">
                <span class="count1 counter">623</span>
                <p>CREATIVE IDEAS</p>
              </div> 
              <div class="grid-3">
                <span class="count2 counter">85</span>
                <p>PROJECTS AWARDED</p>
              </div>
              <div class="grid-3">
                <span class="counter ">299</span>
                <p>HAPPY CLIENTS</p>
              </div>
              <div class="grid-3">
                <span class="counter count4">1150</span>
                <p>CUP OF COFFEES</p>
              </div>
    
        </div>	
    </section>	

    <section id="client">
        <div class="call">
            
        <img src="/assets/img/pexels-felix-mittermeier-956999.jpg" alt="" style="width: 100%; height: 30em;">
        <div class="text-block col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">    
        <h3>OUR HAPPY CUSTOMERS</h3>
            <h1>CLIENT REVIEWS</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, minima unde obcaecati illo placeat eius eveniet, expedita ut, ipsum aliquid laudantium saepe recusandae eaque dolores perferendis voluptas nisi. Cum, maxime!</p>
        </div>
        <!-- </div> -->
        <div class="pic col-12 col-md-12 col-lg-12">
            <img class="picture ml-2 active" src="/assets/img/man.png" alt="" style="width: 100px; height: 100px;">
            <img class="picture ml-2" src="/assets/img/man 1.png" alt="" style="width: 100px; height: 100px;">
            <img class="picture ml-2" src="/assets/img/man 2.png" alt="" style="width: 100px; height: 100px;">
            <img class="picture ml-2" src="/assets/img/woman.png" alt="" style="width: 100px; height: 100px;">
        </div>
        </div>
    <!-- <div class="logo"> -->
<div class="d-flex d-block row col-sm-12 col-md-11 col-lg-8 offset-lg-3 offset-md-1 mt-4">
        <img class="log1 ml-2 mt-2" src="/assets/img/logo1.png" alt="" >
        <img class="log2 ml-2 mt-2" src="/assets/img/logo2.png" alt="" style="width: 250px; height: 150px;">
        <img class="log3 ml-2 mt-2" src="/assets/img/logo3.png" alt="" style="width: 250px; height: 150px;">
        <img class="log4 ml-2 mt-2" src="/assets/img/logo4.png" alt="" style="width: 250px; height: 150px;">
        <img class="log5 ml-2 mt-2" src="/assets/img/logo8.png" alt="" style="width: 250px; height: 150px;">
        <img class="log6 ml-2 mt-2" src="/assets/img/logo5.png" alt="" style="width: 250px; height: 150px;">
        <img class="log7 ml-2 mt-2" src="/assets/img/logo6.jpg" alt="" style="width: 250px; height: 150px;">
        <img class="log8 ml-2 mt-2" src="/assets/img/logo7.jpg" alt="" style="width: 250px; height: 150px;">
        <!-- <img class="log" src="/assets/img/logo8.png" alt="" style="width: 200px; height: 150px;"> -->
    <!-- </div>  -->
</div>  
    </section>

    <section class="ready text-center ">
        <h2 class="m-4 pt-4">READY TO START?</h2>
        <P class="m-4">Just about 30 seconds to fill our form and then you can get a FREE quote regarding your project</P>
        <button class="btn btn-primary bg-transparent">GET STARTED - FREE QUOTE</button>

    </section>


{%endblock%}

    {# <section class="contact">
        <footer class="footer-section">
            <div class="container">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <div class="cta-text">
                                <i class="fas fa-map-marker-alt pb-4"></i>

                                    <h4>Find us</h4>
                                    <span>Baridhara DOHS, Arits Limited</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <div class="cta-text">
                                <i class="fas fa-phone pb-4"></i>

                                    <h4>Call us</h4>
                                    <span>+8801517825293</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <div class="cta-text">
                                <i class="far fa-envelope-open pb-4"></i>

                                    <h4>Mail us</h4>
                                    <span>saifullahemo@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 mb-50">
                            <div class="footer-widget">
                                
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Email Address">
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 mb-50 text-center">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                </div>
                                
                                <div class="footer-social-icon">
                                    <!-- <span>Follow us</span> -->
                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 text-center">
                            <div class="copyright-text text-center">
                                <p>Copyright &copy; 2021, All Right Reserved <a href="https://github.com/saifullahemo">Raihan</a></p>
                            </div>
                        </div>
                        <!-- -->
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/filter-tags.js"></script>
</body>
</html> #}